[submodule "rba"]
	path = ip_if/rba
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjif/rba.git
[submodule "gitrepoexperiments"]
	path = gitrepoexperiments
	url = https://github.com/the-code-cult/gitrepoexperiments.git
